<a href="https://colab.research.google.com/github/EddyAlarconR/curso_python_dmc/blob/main/Sesion3_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
Estudiante=["Manuel Ponte",23,"False"]
print(Estudiante)

['Manuel Ponte', 23, 'False']

In [6]:
Estudiante[0]='Omar Escobedo'
Estudiante

['Omar Escobedo', 23, 'False']

## TUPLA

In [10]:
## TUPLA
Estudiantetupla='Karolayne Pacherres',23,'True'
Estudiantetupla

('Karolayne Pacherres', 23, 'True')

In [11]:
Estudiantetupla [0]

'Karolayne Pacherres'

In [12]:
Estudiantetupla [0] = 'Karoline Pacherres'

TypeError: ignored

## DICCIONARIO

In [13]:
# creando diccionarios:
EstudianteDict={'Nombres':"Manuel Ponte",
               'edad':23,
               'femenino':False}
#en los diccionarios se deben indicar los nombres de los atributos
# seeing it:
EstudianteDict

{'Nombres': 'Manuel Ponte', 'edad': 23, 'femenino': False}

In [14]:
EstudianteDict[0]

KeyError: ignored

In [15]:
EstudianteDict['edad']

23

In [16]:
type(EstudianteDict)

dict

## DATAFRAMES

In [20]:
import pandas as pd

# estas son columnas:
#listas de columnas

nombres=["Manuel", "Karen", "Karolayne", "Omar"]
edad=[23,29,23,26]
pais=["Ecuador", "Perú", "Brasil", "Argentina"]
educacion=["Bach", "Lic", "Bach", "PhD"]

print(nombres[2])

data={'nombres':nombres, 'edad':edad, 'pais':pais, 'educacion':educacion}

Karolayne

In [21]:
print(data)

{'nombres': ['Manuel', 'Karen', 'Karolayne', 'Omar'], 'edad': [23, 29, 23, 26], 'pais': ['Ecuador', 'Perú', 'Brasil', 'Argentina'], 'educacion': ['Bach', 'Lic', 'Bach', 'PhD']}

In [22]:
estudiantes=pd.DataFrame(data)
# check it:
estudiantes

     nombres  edad       pais educacion
0     Manuel    23    Ecuador      Bach
1      Karen    29       Perú       Lic
2  Karolayne    23     Brasil      Bach
3       Omar    26  Argentina       PhD

## CONDICIONALES

## IF, ELSE, ELIF

In [24]:
x = 4
y = 0
if x == 4:
    y = 5
else:
    y = 2

print(y)

5

In [29]:
x = 4
xy = 2
if x== 4 and xy ==2:
    y = 1
elif x == 5:
    y = 2
elif x == 6:
    y = 3
else:
    y = 5

print(y)

1

In [28]:
a = 10
b = 9
if a > b: print("a es mayor que b") #para negación se usa !=

a es mayor que b

## FOR, WHILE

In [30]:
for x in range (1,3):
    print (x)

1
2

In [33]:
lista = ["uno ", "dos ", "tres"]
cadena = ""
for posicion in lista:
    print(posicion)
    cadena += posicion
    print(cadena)
cadena

uno
uno
dos
uno dos
tres
uno dos tres

'uno dos tres'

In [34]:
x = 0
y = 3
while x < y:
    print(x)
    x += 1

0
1
2

In [ ]:
x = 0
y = 3
while x < y:
    print (x)
    x+=1
    if x == 2:
        break
    else:
        print ("x es igual a 2")

In [ ]:
for i in range (1, 10):
    if i % 2 != 0:
        continue
    print (i)